.Exam {
  text-align: center;
}



.questionnew {
  margin: 0 auto;
  background-color: gray;
  padding: 16px;
  border: 16px solid #ccc;
  
  color : white;
  width : 80%;
  height : auto;
}
.q1
{
  background-color: darkgray;
  padding: 16px;
  border : 6px solid #ccc;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 20px;
  width : 80%;
}

.Exam ul{
  list-style: none;
}

.Exam li{
  background-color: darkgray;
  padding: 16px;
  border : 6px solid #ccc;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 20px;
  width : 80%;
}

.questiontext
{
  color: aquamarine;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}