body {
  margin: 0;
}
.color-body {
  background-color: white;
  height: 100vh;
}
.nav-style {
  height: 90px;
  width: 1440px;
  background-color: #b45b35;
}

.logo {
  height: 72px;
  width: 78px;
}

.search {
  position: relative;
}

.search input {
  height: 40px;
  text-indent: 25px;
  border-radius: 20px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid red;
}
.search .fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
}

.card {
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  height: 375px;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #393839;
}

.card:hover .card__overlay {
  opacity: 0.8;
}

.overlay__text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.font {
  font-family: "Almarai", sans-serif;
  font-family: "Cairo", sans-serif;
}

.color {
  color: #b45b35;
  background-color: #b45b35;
}

.card-detalis {
  height: 370px;
  border-radius: 20px;
  background-color: #f8f8f8;
}
.card-story {
  height: 300px;
  border-radius: 20px;
  background-color: #f8f8f8;
}
.img-movie {
  height: 360px;
  padding: 10px;
  border-radius: 20px;
}

.card-text-details {
  color: #555555;
  font-family: Almarai;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.card-text-story {
  color: #555555;
  font-family: Almarai;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}
.card-text-title {
  color: #555555;
  font-family: Almarai;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-color: #fef68a;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.filter {
  flex: 2;
  margin-left: 1.5rem;
  margin-top: 10rem;
}
.top {
  height: 50px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo {
  border-radius: 0.25rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem;
  background-color: white;
  border: 0.5px solid rgb(111, 109, 109);
}
.logo:hover {
  background-color: rgba(127, 177, 251, 0.379);
}
.filter-button {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.8rem;
  margin: 0 -0.4rem;
}
.inpt {
  width: 5rem;
  margin-right: 1rem;
}
.inptt{
  width: 7rem;
  margin-right: 1rem;
}
.inpttt{
  width: 12rem;
  border-radius: 0;
  margin-right: 0.5rem;
}
.check {
  margin-top: 0.4rem;
}
.edit {
  border-radius: 0.25rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem;
  background-color: white;
  border: 0.5px solid rgb(111, 109, 109);
}



input[type="radio"]{
  display:none;
}
.star{
  cursor: pointer;
  transition: color 200ms;
}
.color-body {
  background-color: #F8F8F8;
  height: 100vh;
}
.font {
  font-family: "Almarai", sans-serif;
}
.title {
  color: #224F61;
  font-family: Almarai;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 64px;
}
.underline {
  height: 1px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #B45B35;
}
.btn {
  color: black;
  font-family: Almarai;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}
.btn:hover {
  color: black;
  font-family: Almarai;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 11px;
  border: none;
  background-color: #B45B35;
}
.img-item {
  height: 180px;
  width: 252px;
  border-radius: 5px;
}
.item-description {
  color: #8C8C8C;
  font-family: Almarai;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
.item-title {
  color: #555555;
  font-family: Almarai;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
.card-color {
  background-color: #F8F8F8;
}
.item-price {
  color: #B45B35;
  font-family: Almarai;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
.btn-search {
  color: #B45B35;
  border-radius: 3px solid #B45B35;
  border-radius: 8px;
  background-color: white;
}
.btn-search:hover {
  color: white;
  border-radius: 3px solid white;
  background-color: #B45B35;
  border-radius: 8px;
}
.brand-color {
  color: #B45B35;
}
